.half-width {
    width: 50%
}
.justify-left {
    justify-content: left;
}
.justify-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
flex-direction: column;
}
  
.flex-row {
flex-direction: row;
}
.flex {
    display: flex;
}
.margin {
    margin: 10px;
}